<!DOCTYPE html>
<html>
  <head>
    <title>Badjao</title>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%# 　  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
